# ==========================================
# copy environment files(On Windows PowerShell)
# Copy-Item .env.example .env
# Copy-Item backend/.env.example backend/.env
# Copy-Item frontend/.env.local.example frontend/.env.local
# ==========================================

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/life_execution
OLLAMA_BASE_URL=https://ollama.com
OLLAMA_MODEL=gpt-oss:120b
OLLAMA_API_KEY=your_ollama_api_key
NOTION_API_KEY=your_notion_api_key
NOTION_DATABASE_ID=your_notion_database_id
JWT_SECRET=your_jwt_secret
